[general]
state_file = /var/awslogs/state/agent-state

[/var/log/messages]
file = /var/log/messages
log_group_name = pywren.standalone
log_stream_name = {instance_id}-messages
datetime_format = %b %d %H:%M:%S

[/var/log/cloud-init.log]
file = /var/log/cloud-init.log
log_group_name = pywren.standalone
log_stream_name = {instance_id}-cloud-init.log
datetime_format = %b %d %H:%M:%S

[/var/log/cloud-init-output.log]
file = /var/log/cloud-init-output.log
log_group_name = pywren.standalone
log_stream_name = {instance_id}-cloud-init-output.log
datetime_format = %b %d %H:%M:%S

[/tmp/supervisord.log]
file = /tmp/supervisord.log
log_group_name = pywren.standalone
log_stream_name = {instance_id}-supervisord.log
datetime_format = %b %d %H:%M:%S

[pywren-stderr-supervisor]
file = /tmp/pywren-stderr*.log
log_group_name = pywren.standalone
log_stream_name = {instance_id}-pywren-stderr-supervisor.log
#datetime_format = %b %d %H:%M:%S

[pywren-stdout-supervisor]
file = /tmp/pywren-stdout*.log
log_group_name = pywren.standalone
log_stream_name = {instance_id}-pywren-stdout-supervisor.log
#datetime_format = %b %d %H:%M:%S
